{% extends 'base.html.twig' %}

{% block body %}
    <div class="container form_add">
        <h1>Login</h1>

        {% for message in app.flashes('info') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <form action="{{ path('login') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="btns-container">
                <label for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="_username" required>
            </div>

            <div class="btns-container">
                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="_password" required>
            </div>

            <button class="btn-primary" type="submit">Login</button>
        </form>
    </div>
{% endblock %}
